/* Estilo general del navbar, usando flexbox para el layout */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFD700;
  padding: 10px 20px;
}

/* Sección izquierda del navbar, alinea los elementos en el centro y añade margen inferior */
.navbar-left {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Sección derecha del navbar, alinea los elementos en el centro */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Estilo para el logo del navbar, establece tamaño y margen derecho */
.navbar-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Estilo para el título del navbar, usando fuente Montserrat */
.navbar-title {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/* Sección central del navbar, usando flexbox para centrar el contenido */
.navbar-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Estilo para la barra de búsqueda, usando flexbox para alinear los elementos */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  width: 500px;
}

/* Estilo para el input de la barra de búsqueda, sin borde y con padding */
.search-bar input {
  border: none;
  outline: none;
  padding: 10px;
  flex-grow: 1;
}

/* Estilo para el botón de la barra de búsqueda, sin fondo ni borde */
.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* Estilo para el icono dentro del botón de búsqueda */
.search-bar button i {
  color: #000;
}

/* Contenedor para los botones del navbar, usando flexbox para centrar el contenido */
.navbar-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Estilo para los enlaces del navbar, con fondo, padding y borde redondeado */
.navbar-link {
  background-color: #FCFBFA;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  border: none;
  color: #302D2F;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

/* Estilo para los enlaces del navbar cuando se hace hover */
.navbar-link:hover {
  background-color: #F8BD16;
  color: #000;
}

/* Media query para dispositivos con un ancho máximo de 768px */
@media (max-width: 768px) {
  /* Alinea verticalmente las secciones izquierda y central del navbar */
  .navbar-left,
  .navbar-center {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* Añade margen inferior al título del navbar */
  .navbar-title {
    margin-bottom: 10px;
  }

  /* Alinea verticalmente los botones del navbar */
  .navbar-buttons {
    flex-direction: column;
  }

  /* Añade margen vertical a los enlaces del navbar */
  .navbar-link {
    margin: 5px 0;
  }
}
